<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
        <label for="name">Email</label>
        <input type="email" placeholder="Masukan Email Anda....">
        <br>
        <label for="password">password</label>
        <input type="password" placeholder="Masukan Password Anda...">
        <br>
        <button type="submit"><a href="admin.html" style="text-decoration: none;">Login</a></button>
    </form>
</body>
</html>